*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-flow: row wrap;
}

/* barra di navigazione header */
.nav-bar{
    background-color: orange;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 999;
}

.left-bar{
    color: white;
}

.central-bar img{
    height: 2rem;
    width: auto;
}

.right-bar i{
    color: white;
    padding: 1rem;
}

/* box size */
.box{
    width: 70%;
    margin: 3.5rem auto;
    min-height: 55rem;
}

/* item */
.column{
    width: calc(100% / 3 - 1rem);
    min-height: 30rem;
    margin:0 0.5rem 3rem 0.5rem;
    position: relative;
}

.column img{
    width:100%;
    height: fit-content;
    
}

.hearts{
    background-color: white;
    position: absolute;
    top: 0.5rem;
    right: 0;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 30%;
}

.discount{
    background-color: rgb(192, 24, 24);
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 25rem;
    left: 0;
}

.eco{
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 25rem;
    left:3.5rem;
}

.red-price{
    color: red;
}

.last-eco{
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 25rem;
    left:0;
}



/* footer */
.end-column{
    background-color: black;
    min-height: 5rem;
    width: 100%;
    color: white;
}

.footer-bar{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.left-footer{
    padding: 0.5rem 0 0 0.5rem;
    width: 50%;
}

.left-footer span{
    font-size: 0.6rem;
}

.right-footer{
    padding: 0.5rem 0.5rem 0 0;
    width: 50%;
    text-align: end;
}

.right-footer .icons i{
    padding: 0.3rem;
}